@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', monospace;
  background-color: #000; /* optional retro backdrop */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
}

